In [1]:
import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [77]:
import numpy
import pandas as pd
enron_data_1=pd.DataFrame.from_dict(enron_data,orient='index',dtype=None)
len(enron_data_1[enron_data_1.email_address=='NaN'])
#ALLEN PHILLIP K

35

In [85]:
(enron_data_1[enron_data_1.poi==1])

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
BELDEN TIMOTHY N,213999,7991,2144013,5501630,953136,5249999,157569,5521,NaN,1110705,...,NaN,484,210698,108,True,NaN,-2334434,NaN,tim.belden@enron.com,228
BOWEN JR RAYMOND M,278601,1858,NaN,2669589,NaN,1350000,252055,1593,NaN,252055,...,NaN,27,1621,15,True,NaN,-833,974293,raymond.bowen@enron.com,140
CALGER CHRISTOPHER F,240189,2598,NaN,1639297,NaN,1250000,126027,2188,NaN,126027,...,NaN,144,486,25,True,NaN,-262500,375304,christopher.calger@enron.com,199
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,2502063,1585,NaN,2502063,...,NaN,49,307895,12,True,NaN,-235000,350000,richard.causey@enron.com,58
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,698242,1132,NaN,698242,...,NaN,40,101740,11,True,NaN,-144062,NaN,wes.colwell@enron.com,240
DELAINEY DAVID W,365163,3093,NaN,4747979,2291113,3000000,1323148,2097,NaN,3614261,...,NaN,3069,1661,609,True,NaN,NaN,1294981,david.delainey@enron.com,66
FASTOW ANDREW S,440698,NaN,NaN,2424083,NaN,1300000,1794412,NaN,NaN,1794412,...,NaN,NaN,277464,NaN,True,NaN,-1386055,1736055,andrew.fastow@enron.com,NaN
GLISAN JR BEN F,274975,873,NaN,1272284,384728,600000,393818,874,NaN,778546,...,NaN,16,200308,6,True,NaN,NaN,71023,ben.glisan@enron.com,52
HANNON KEVIN P,243293,1045,NaN,288682,5538001,1500000,853064,1035,NaN,6391065,...,NaN,32,11350,21,True,NaN,-3117011,1617011,kevin.hannon@enron.com,32
HIRKO JOSEPH,NaN,NaN,10259,91093,30766064,NaN,NaN,NaN,NaN,30766064,...,NaN,NaN,2856,NaN,True,NaN,NaN,NaN,joe.hirko@enron.com,NaN
KOENIG MARK E,309946,2374,NaN,1587421,671737,700000,1248318,2271,NaN,1920055,...,NaN,61,150458,15,True,NaN,NaN,300000,mark.koenig@enron.com,53
KOPPER MICHAEL J,224305,NaN,NaN,2652612,NaN,800000,985032,NaN,NaN,985032,...,NaN,NaN,907502,NaN,True,NaN,NaN,602671,michael.kopper@enron.com,NaN
LAY KENNETH L,1072321,4273,202911,103559793,34348384,7000000,14761694,2411,NaN,49110078,...,81525000,36,10359729,16,True,NaN,-300000,3600000,kenneth.lay@enron.com,123
RICE KENNETH D,420636,905,NaN,505050,19794175,1750000,2748364,864,NaN,22542539,...,NaN,18,174839,4,True,NaN,-3504386,1617011,ken.rice@enron.com,42
RIEKER PAULA H,249201,1328,214678,1099100,1635238,700000,283649,1258,NaN,1918887,...,NaN,82,1950,48,True,NaN,-100000,NaN,paula.rieker@enron.com,35
SHELBY REX,211844,225,NaN,2003885,1624396,200000,869220,91,NaN,2493616,...,NaN,39,1573324,14,True,NaN,-4167,NaN,rex.shelby@enron.com,13
SKILLING JEFFREY K,1111258,3627,NaN,8682716,19250000,5600000,6843672,2042,NaN,26093672,...,NaN,108,22122,30,True,NaN,NaN,1920000,jeff.skilling@enron.com,88
YEAGER F SCOTT,158403,NaN,NaN,360300,8308552,NaN,3576206,NaN,NaN,11884758,...,NaN,NaN,147950,NaN,True,NaN,NaN,NaN,scott.yeager@enron.com,NaN

In [ ]:

""" 
    A general tool for converting data from the
    dictionary format to an (n x k) python list that's 
    ready for training an sklearn algorithm

    n--no. of key-value pairs in dictonary
    k--no. of features being extracted

    dictionary keys are names of persons in dataset
    dictionary values are dictionaries, where each
        key-value pair in the dict is the name
        of a feature, and its value for that person

    In addition to converting a dictionary to a numpy 
    array, you may want to separate the labels from the
    features--this is what targetFeatureSplit is for

    so, if you want to have the poi label as the target,
    and the features you want to use are the person's
    salary and bonus, here's what you would do:

    feature_list = ["poi", "salary", "bonus"] 
    data_array = featureFormat( data_dictionary, feature_list )
    label, features = targetFeatureSplit(data_array)

    the line above (targetFeatureSplit) assumes that the
    label is the _first_ item in feature_list--very important
    that poi is listed first!
"""


import numpy as np

def featureFormat( dictionary, features, remove_NaN=True, remove_all_zeroes=True, remove_any_zeroes=False, sort_keys = False):
    """ convert dictionary to numpy array of features
        remove_NaN = True will convert "NaN" string to 0.0
        remove_all_zeroes = True will omit any data points for which
            all the features you seek are 0.0
        remove_any_zeroes = True will omit any data points for which
            any of the features you seek are 0.0
        sort_keys = True sorts keys by alphabetical order. Setting the value as
            a string opens the corresponding pickle file with a preset key
            order (this is used for Python 3 compatibility, and sort_keys
            should be left as False for the course mini-projects).
        NOTE: first feature is assumed to be 'poi' and is not checked for
            removal for zero or missing values.
    """


    return_list = []

    # Key order - first branch is for Python 3 compatibility on mini-projects,
    # second branch is for compatibility on final project.
    if isinstance(sort_keys, str):
        import pickle
        keys = pickle.load(open(sort_keys, "rb"))
    elif sort_keys:
        keys = sorted(dictionary.keys())
    else:
        keys = dictionary.keys()

    for key in keys:
        tmp_list = []
        for feature in features:
            try:
                dictionary[key][feature]
            except KeyError:
                print "error: key ", feature, " not present"
                return
            value = dictionary[key][feature]
            if value=="NaN" and remove_NaN:
                value = 0
            tmp_list.append( float(value) )

        # Logic for deciding whether or not to add the data point.
        append = True
        # exclude 'poi' class as criteria.
        if features[0] == 'poi':
            test_list = tmp_list[1:]
        else:
            test_list = tmp_list
        ### if all features are zero and you want to remove
        ### data points that are all zero, do that here
        if remove_all_zeroes:
            append = False
            for item in test_list:
                if item != 0 and item != "NaN":
                    append = True
                    break
        ### if any features for a given data point are zero
        ### and you want to remove data points with any zeroes,
        ### handle that here
        if remove_any_zeroes:
            if 0 in test_list or "NaN" in test_list:
                append = False
        ### Append the data point if flagged for addition.
        if append:
            return_list.append( np.array(tmp_list) )

    return np.array(return_list)


def targetFeatureSplit( data ):
    """ 
        given a numpy array like the one returned from
        featureFormat, separate out the first feature
        and put it into its own list (this should be the 
        quantity you want to predict)

        return targets and features as separate lists

        (sklearn can generally handle both lists and numpy arrays as 
        input formats when training/predicting)
    """

    target = []
    features = []
    for item in data:
        target.append( item[0] )
        features.append( item[1:] )

    return target, features